body{
    background-color: #329275;
    color: aliceblue;
    font-family: "Bai Jamjuree", sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #2f9fa7;
    color: aliceblue;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    max-width: 90%;
    text-align: center;
}

img {
    max-width: 90%;
}